---

import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Hero from "../components/Hero_Small.astro";
import Product from "../components/Product.astro";
import ProductSection from "../components/ProductSection.astro";
import Section from "../components/Section.astro";

import "../css/global.css";
const showTitle = false;
const apiEndpoint = "https://jgiscxohiqtteuwqyfad.supabase.co/rest/v1/menu";
const apiKey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpnaXNjeG9oaXF0dGV1d3F5ZmFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDA1Njg0MjgsImV4cCI6MjAxNjE0NDQyOH0.ioDBej7LRKgrKtxrX7F7ia4lbG2PqH49mwQZHvOb0X4";

const fullMenu = await fetch(apiEndpoint, {
    method: "GET",
    headers: {
        apikey: apiKey,
    },
});
const data = await fullMenu.json();
const sortedData = data.sort((a, b) => a.id - b.id);

---

<Layout imageVariant="stor" title="Falafel Factory" Image="../heroImg/Hero_Home.webp" showTitle={showTitle}>
   
    <ProductSection sectionText="Vores populære rætter" sectionVariant="3col">
            {
                sortedData.slice(0,3).map ((menuItem) => {
                    return <Product ret_billede={menuItem.ret_billede} ret_desc={menuItem.ret_desc} ret_navn={menuItem.ret_navn} ret_pris={menuItem.ret_pris} buttonText="Tilføj Ordre" buttonVariant="primary" buttonLink="/menu/" ImageAlt="En stemningsfuld og mørkt belyst bred oversigtsbillede, der viser et udvalg af retter på et mørkt træbord. I forgrunden er der en blå keramiktallerken med en åben sandwich bestående af brunt brød og fyld af grøn salat og røde tomater. Ved siden af er der en klar skål med grønne bladgrøntsager i vand, muligvis til rensning eller som en del af en ret. I baggrunden er der en anden tallerken med en frodig salat, toppet med tomater, gule peberfrugter og en krydret dressing. Der er også falafelkugler, pænt anbragt ved siden af salaten. Billedet antyder en sund og smagfuld måltidstilberedning med fokus på friske ingredienser og visuel præsentation."/>
                }) 
            }
    </ProductSection>
    <div class="alignRight">
        <Button  buttonVariant="tertiary" buttonText="SE HELE MENUEN" buttonLink="/menu/"/>
    </div>
   
    <Section
        sectionVariant="3col"
        imgVariant="imgLeft"
        span="span2"
        sectionBackground="sectionWhite"
        sectionTitle="VI TILBYDER CATERING TIL DIT NÆSTE EVENT"
        sectionText="Medbring den fulde Falafel Factory oplevelse hvor som helst! Vi fokuserer på kvalitet af ingredienser, som vi gerne vil dele med dig og dine gæster."
        sectionImg="/Vi_tilbyder_Catering.webp"
        sectionAlt=""
        buttonVariant="4th" 
        buttonText="Læs mere"
        buttonLink="/catering/">
    </Section>
    <Section
        sectionVariant="2col"
        imgVariant="imgRight"
        imgType="imgCenter"
        span="span1"
        sectionBackground="sectionWhite"
        sectionTitle="Om Os"
        sectionText="Vi omfavner udvalgte opskrifter fra Mellemøsten, især den velkendte falafel der med en blid brise har fundet vej til vores butik i København. Vi tilfører vores eget personlige præg til traditionelle opskrifter, da vores passion er at udforske forskellige smagsoplevelser. Det kommer til udtryk i vores måde at kombinere forskellige køkkener på."
        sectionImg="/Om_os.webp"
        sectionAlt=""
        buttonVariant="4th" 
        buttonText="Læs mere"
        buttonLink="/omos/">
    </Section>
</Layout>

<style>
    .alignRight {
        display: grid;
        justify-content: space-around;
        padding: 3rem 0;
    }

    @media (min-width: 600px) {
        .alignRight {
        justify-content: end;
    }
    }
</style>