---
import "../css/global.css";
const {Img1,Img2,sectionAlt,imgVariant,imgType, sectionVariant, sectionBackground} = Astro.props;
---

<section data-variant={sectionBackground}>
    <div data-variant={sectionVariant}
    >
    <h3 class="alignCenter">Vælg Pakke</h3>
        <div class="grid_1_2" >
            
            <div data-variant={imgVariant} >
               <a href="/storPakke"><img loading="lazy" class={imgType} src="/media/img/Pakke_Stor.webp" alt="Et bord dækket med et udvalg af madvarer, der udgør en cateringpakke. I midten ses en stor aluminiumsform fyldt med gyldenbrune falafelkugler. Til højre for den er der en skål med sprøde kartoffelchips. Øverst på billedet er der et træfad med friske æbler, en bakke med baklava skåret i trekanter, og en skål med store, hjemmebagte cookies. Forskellige skåle indeholder friskhakket salat, rødkålssalat, syltede agurker og en lille skål med hvidløg. Der er også små skåle med forskellige saucer og dips, herunder hummus, salsa og grønne samt hvide cremede saucer. En kurv med bløde pitabrød og en tallerken med en anden form for bagværk ligger også på bordet. Forgrunden viser en orange tallerken med sølvbestik samt to lyserøde drikke med citronskiver. Hele scenen udstråler en hyggelig frokost eller middag til en større gruppe, arrangeret på en lys turkis baggrund, der giver et frisk og indbydende look.">
                <h3>Den Store Pakke</h3>
                <p>Pris per kuvert: 185,-</p></a> 
                
            </div>
            <div data-variant={imgVariant} >
                <a href="/lillePakke"><img loading="lazy" class={imgType} src="/media/img/Pakke_Lille.webp" alt="Et lyst træbord dækket med forskellige retter fra et middelhavsinspireret måltid. I midten af bordet er der en stor tallerken med gyldenbrune falafelkugler på en seng af gult krydret ris, garneret med tahinidressing og ledsaget af en klump cremet hummus og frisk rødkålssalat. Til venstre for denne tallerken er der en skål med en grøn salat toppet med store stykker af gyldenbrunt brød og fetaost, og en lille skål med en frisk agurk- og tomat-salat. I forgrunden er der et par pitabrød, halvt brækket. Til højre ses en spydpind med grillet kød og grøntsager og en skål med bulgursalat. Der er også forskellige skåle med dips, såsom en med en tyk hvid tzatzikisauce, en med en grøn krydret sauce og en med en mere flydende, klar dressing. En anden skål viser sprøde kartoffelchips, som er arrangeret stående. Hele arrangementet skaber en indbydende atmosfære og indikerer en afbalanceret blanding af farverige, friske og nærende elementer">
                    <h3>Den Lille Pakke</h3>
                    <p>Pris per kuvert: 120,-</p></a>
                
                
            </div>
        </div>
        
    </div>
</section>







<style>
    section {
        background-color: white;
        
    }

    img {
        height: auto;
        width: 100%;
    }
    a {
        text-decoration: none;
        
    }

    a img:hover {
        filter:brightness(80%);
    }

  

    .grid_1_2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;  
    }
    .alignCenter {
        text-transform: uppercase;
       font-weight: 800;
       color: #556146;
       white-space: pre-line;
		text-wrap:balance;
        text-align: center;
        margin-bottom: 1%;
        padding: 2%;
    }
    h3 {
        text-transform: uppercase;
       font-weight: 800;
       color: #556146;
       text-wrap:balance;
       text-align: left;
    }

   p {
       margin-top: 2%;
       margin-bottom: 5%;
       line-height: 1.6;
       font-weight: 500;
       text-align: left;
      
       color: #556146;
   }
   @media(max-width:768px){ 
    section {
        background-color: white;
        
    }
    .grid_1_2 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;  
    
    }
    .alignCenter {
        text-transform: uppercase;
       font-weight: 800;
       color: #556146;
       white-space: pre-line;
		text-wrap:balance;
        text-align: center;
        margin-bottom: 1%;
        padding: 2%;
    }
    h3 {
        text-transform: uppercase;
       font-weight: 800;
       color: #556146;
       text-wrap:balance;
    }

   p {
       margin-top: 5%;
       margin-bottom: 5%;
       line-height: 1.6;
       font-weight: 500;
      
       color: #556146;
   }
   }
</style>