---
import "../css/global.css";
import TilbehorForm from "./tilbehorForm.astro";
const {imgType,imgSrc,imgAlt, sectionVariant, sectionBackground,PakkeTitle,PakkeTekst,ForretTekst,Hovedret1,Hovedret2,Hovedret3,DessertTekst} = Astro.props;
---

<section data-variant={sectionBackground}>
    <div data-variant={sectionVariant}>

        <div class="grid_2-2">

            <div class="grid_item">

        <div class="catering-package">
            <h2>{PakkeTitle}</h2>
            <p class="presentation">{PakkeTekst}</p>
        
            <h6>Forret:</h6>
            <ul>
                <li>{ForretTekst}</li>
            </ul>
        
            <h6>Hovedret:</h6>
            <ul>
                <li>{Hovedret1}</li>
                <li>{Hovedret2}</li>
                <li>{Hovedret3}</li>
            </ul>
        
            <h6>Dessert:</h6>
            <ul>
                <li>{DessertTekst}</li>
            </ul>
            <TilbehorForm/>
        </div>
    </div>
    <div class="grid_item">

        <img loading="lazy" class={imgType} src={`/media/img/${imgSrc}`} alt={imgAlt}>
    </div>
    </div>
    </div>
    
</section>

<style>

    .presentation {
        margin-bottom: 20%;
    }

.catering-package {
            max-width: 600px;
            margin: 0 auto;
        }

        h2 {
            color: #556146;
            
        }
        h6 {
            margin-bottom: 10%;
            text-wrap: balance;
        }

        ul {
            margin-left: 2rem;
            padding: 0;
            margin-bottom: 30px;
        }

        li {
            margin-bottom: 40px;
            line-height: 1;
            font-size: clamp(0.5rem,2vw, 1.5rem);
            color: #556146;
            font-weight: 400;
            text-wrap: balance;
        }
        p {
       margin-top: 10%;
       font-size: clamp(0.5rem,2vw, 1.8rem);
       text-wrap: balance;
    
       font-weight: 500;
      
       color: #556146;
   }
   img {
    width: 100%;
    height: auto;
    margin-top: 110px;
   }

   .grid_2-2 {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    margin-right: 10%;
    margin-left: 15%;
    margin-top: 5%;
   }
   .grid_item {
    width: 100%;
    height: auto;
    object-fit: cover;
   }
   
</style>