---
import "../css/global.css";
import TilbehorForm from "./tilbehorForm.astro";
const {imgType,imgSrc,imgAlt, sectionVariant, sectionBackground,PakkeTitle,PakkeTekst,ForretTekst,Hovedret1,Hovedret2,Hovedret3,DessertTekst} = Astro.props;
---

<section data-variant={sectionBackground}>
    <div data-variant={sectionVariant}>

        <div class="grid_2-2">

            <div class="grid_item">

        <div class="catering-package">
            <h2>{PakkeTitle}</h2>
            <p class="presentation">{PakkeTekst}</p>
        
            <h6>Forret:</h6>
            <ul>
                <li>{ForretTekst}</li>
            </ul>
        
            <h6>Hovedret:</h6>
            <ul>
                <li>{Hovedret1}</li>
                <li>{Hovedret2}</li>
                <li>{Hovedret3}</li>
            </ul>
        
            <h6>Dessert:</h6>
            <ul>
                <li>{DessertTekst}</li>
            </ul>
            <TilbehorForm/>
        </div>
    </div>
    <div class="grid_item">

        <img loading="lazy" class={imgType} src={`/media/img/${imgSrc}`} alt={imgAlt}>
    </div>
    </div>
    </div>
    
</section>

<style>

.presentation {
        margin-bottom: 20%;
    }

    .presentation {
        margin-bottom: 20%;
    }

.catering-package {
            max-width: 500px;
            margin: 0 auto;
        }

        h2 {
            color: #556146;
            font-size: clamp(2rem, 3vw, 2.875rem);
            
        }
        h5 {
            margin-top: 5%;
            color: #556146;
            font-size: clamp(1.2rem, 2vw, 1.875rem);

        }
        h6 {
            margin-bottom: 10%;
            text-wrap: balance;
            color: #556146;
            
        }

        ul {
            margin-left: 2rem;
            padding: 0;
            margin-bottom: 30px;
        }

        li {
            margin-bottom: 40px;
            line-height: 1;
            font-size: clamp(1.2rem, 2vw, 1.875rem);
            color: #556146;
            font-weight: 400;
            text-wrap: balance;
        }
        p {
       margin-top: 10%;
       font-weight: 500;
      
       color: #556146;
   }
   img {
    width: auto;
    height:100vh;
   }
  

   .grid_2-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
        
    justify-items: center;
    margin-top: 5%;

   }
   @media(max-width:1100px){
    .grid_2-2 {
    display: grid;
        grid-template-columns: 1fr;
    justify-items: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    
   }
   }
   

   @media(max-width:768px){ 
    .grid_2-2 {
    display: grid;
        grid-template-columns: 1fr;
    justify-items: center;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    
   }
    img {
        margin-top: 5%;
    width: 100%;
    height: auto;
   }
}
   
</style>