---
import Button from "./Button.astro";

const {ret_billede, ret_desc, ret_navn, ret_pris, buttonText, buttonVariant} = Astro.props;
---

<li class="product">
    <img loading="lazy" class="productImg" src=`../${ret_billede}` alt={ret_navn}>
        <h3>{ret_navn}</h3>
        <p class="textDesc">{ret_desc}</p>
    <div class="buttonField">
        <Button buttonText={buttonText} buttonVariant={buttonVariant}/>
        <h4>{ret_pris},-</h4>
    </div>
</li>

<script></script>

<style>

.product {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 450px;
    min-width: 280px;
    max-width: 460px;
    width: 100%;
    gap: 1rem;
    margin: 0.25rem;
    overflow: hidden; 
}
.productText {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 0.5rem;

}
.productImg {
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.textDesc {
    color: var(--ff-green1);
}
.buttonField {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}
input {
    width: 60px;
    height: 50px;
}

</style>