---
const {menuItem, buttonText, buttonVariant} = Astro.props;
import Button from "./Button.astro";

---

<section class="product" id={menuItem.id}>
    <img loading="lazy" class="productImg" src={menuItem.ret_billede} alt={menuItem.ret_navn}>
        <h2>{menuItem.ret_navn}</h2>
        <p class="textDesc">{menuItem.ret_desc}</p>
    <div class="buttonField">
        <Button buttonText={buttonText} buttonVariant={buttonVariant}/>
        <input type="button">
        <h3>{menuItem.ret_pris},-</h3>
    </div>
</section>

<style>
.product {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    min-width: 280px;
    max-width: 460px;
    width: 100%;
    gap: 1rem;
    margin: 0.25rem;
}
.productText {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
}
.productImg {
    object-fit: cover;
    object-position: center;
    height: auto;
    width: 100%;
    min-width: 280px;
    max-width: 500px;
}
.product > div {
    /* margin: 0.25rem; */
}
.textDesc {
}
.buttonField {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: auto;
}
h3 {
}
input {
    width: 60px;
    height: 50px;
}

</style>