---
import "../css/global.css";
import Button from "../components/Button.astro";
const {sectionImg,imgType,span,imgVariant,sectionAlt,sectionTitle,sectionText, sectionVariant, sectionBackground,buttonText,buttonVariant} = Astro.props;
---

<section data-variant={sectionBackground}>
    <div data-variant={sectionVariant}
    >
        <div data-variant={imgVariant} >
            <img loading="lazy" class={imgType} src={`/media/img/${sectionImg}`} alt={sectionAlt}>
        </div>
        <div class={span}>
            <h2>{sectionTitle}</h2>
            <p>{sectionText}</p>
            <Button buttonText={buttonText} buttonVariant={buttonVariant}/>
        </div>
        
    </div>
</section>

<style>

.span1 {
        margin-left: 10%;
        margin-right: 20%;
        margin-bottom: 5%;
        margin-top: 20%;
    }
    .span2 {
        grid-column: span 2;
        margin-top: 15%;
        margin-left: 10%;
        margin-right: 20%;
        margin-bottom: 5%;
    }
    .span3 {
        margin-left: 10%;
        margin-right: 20%;
        margin-bottom: 5%;  
    }
    .span3 p {
        font-size: 32px;
        font-weight: 00;
    }
    h2 {
       
        font-size: 2vw;
        color: #556146;
    }
    p {
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 1.2vw;
        line-height: 1.6;
       
        color: #556146;
    }
    .imgCenter {
        height: auto;
        width: 100%;
        align-self: center;
        padding: 10%;

       
    }

    [data-variant="imgLeft"] {
        order: -1;
	}
	[data-variant="imgRight"] {
        order: 1;
       
        
	}
[data-variant="sectionGreen"] {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto;
       
        margin: auto;
        justify-items: left;
        align-items: left;

}
[data-variant="sectionWhite"] {
        display: grid;
        grid-template-columns: 1fr;
 
       
        margin: auto;
        justify-items: left;
        align-items: left;

}

img {
    width: 100%;
    height: auto;
}

    h2 {
        text-transform: uppercase;
      
    }
[data-variant] {
    display: grid;
    width: 100%;
    height: auto;
   
}
[data-variant="1row1col"] {
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    background-color: pink;
}
[data-variant="3col"] {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: left;
    background-color:white;
}
[data-variant="4col"] {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: left;
    
    
}
[data-variant="2col"] {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: left;
    background-color: white;
}
[data-variant="2colRight"] {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    justify-items: right;
    background-color: white;
}
[data-variant="1col"] {
    grid-template-columns: 1fr;
}
</style>