---
import "../css/global.css";
import Button from "../components/Button.astro";
const {sectionImg,imgType,span,imgVariant,sectionAlt,sectionTitle,sectionText, sectionVariant, sectionBackground,buttonText,buttonVariant, buttonLink} = Astro.props;
---

<section data-variant={sectionBackground}>
    <div data-variant={sectionVariant}>
        <div data-variant={imgVariant} >
            <img loading="lazy" class={imgType} src={`/media/img/${sectionImg}`} alt={sectionAlt}>
        </div>
        <div class={span}>
            <h2>{sectionTitle}</h2>
            <p>{sectionText}</p>
            <Button buttonText={buttonText} buttonVariant={buttonVariant} buttonLink={buttonLink}/>
        </div>
        
    </div>
</section>

<style>

.span1 {
    padding: 3rem 3rem;
    margin: 1rem 3rem;
    }
.span2 {
    grid-column: span 2;
    padding: 1rem 2rem;
    margin: 2rem 7rem;
}
.span3 {
    padding: 0 1rem 4rem 2rem;
}
.span3 p {
    font-size: clamp(0.5rem,2vw, 2rem); 
}
h2 {
    font-size: clamp(1rem,2vw, 2rem);
    color: #556146;
    margin-bottom: 4%;
}
p {
    margin-top:0;
    margin-bottom: 5%;    
    line-height: 1.6;
    color: #556146;
}
    .imgCenter {
        height: auto;
        width: 100%;
        align-self: center;
        padding: 0 1rem;     
    }

    [data-variant="imgLeft"] {
        align-items: stretch;
        order: -1;
	}
	[data-variant="imgRight"] {
        order: 1; 
	}
[data-variant="sectionGreen"] {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 80px auto;
        margin: auto;
        justify-items: left;
        align-items: left;
}
[data-variant="sectionWhite"] {
        display: grid;
        grid-template-columns: 1fr;       
        margin: auto;
        justify-items: left;
        align-items: left;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    text-transform: uppercase;
    
}
[data-variant] {
    display: grid;
    width: 100%;
    height: auto;
   
}
[data-variant="1row1col"] {
    grid-template-rows: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    background-color: rgb(255, 255, 255);
}
[data-variant="3col"] {
    grid-template-columns: repeat(3, 1fr);
    justify-items: left;
    background-color:white;
}
[data-variant="4col"] {
    grid-template-columns: repeat(4, 1fr);
    justify-items: left;
}
[data-variant="2col"] {
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    background-color: white;
}
[data-variant="2colRight"] {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    justify-items: right;
    background-color: white;
}
[data-variant="1col"] {
    grid-template-columns: 1fr;
}
@media(max-width:768px){ 
    [data-variant="3col"] {
    
    grid-template-columns: 1fr;
    justify-items: center;
    background-color:white;
}

[data-variant="3col"]img {
    display: grid;
    height: auto;
    padding: 2rem;
}

.span1 {
    margin: 1rem 2rem;
    }

.span2 {
        grid-column: 1;
        margin: 1rem 2rem;
    }
    .imgCenter {
        height: auto;
        width: 100%;
        align-self: center;
        padding: 10%;
        padding-right: 10%;       
    }
    [data-variant="4col"] {
    grid-template-columns: 1fr;
    justify-items: center; 
}
}
</style>