---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../css/global.css";
import Hero from '../components/Hero_Small.astro';

const {title, mode} = Astro.props;
const {Image} = Astro.props;
const {imageVariant} = Astro.props;
const {showTitle} = Astro.props;
const {heroTitle}= Astro.props;


---
<!doctype html>
<html lang="da">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Falafel Factory - Autentisk Mellemøstlig Køkken i København. Nyd vores forskellige falafelretter, cateringtjenester og unik kulinarisk oplevelse. Best Falafel in Copenhagen, Vegetarisk Restaurant, Vegan Falafel, Sund Fastfood." />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="Falafel København, Mellemøstlig Køkken Danmark, Vegetarisk Restaurant København, Vegan Falafel Danmark, Sund Hurtigmads København, Madudbringning København, Bedste Falafel i Danmark, Middelhavs Køkken, Hurtig Frokostmuligheder København, Cateringtjenester Danmark" />
		
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<Hero Image={Image} imageVariant={imageVariant} showTitle={showTitle}  heroTitle={heroTitle}/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>

<style is:global>
html {
	background-color: #F5FFE9;
}
main {
	margin-bottom: 10%;
}
</style>
